#board {
  width:300px;
  height:300px;
  margin: 0 auto;
}

#board td {
  border: 1px solid;
  width: 20%;
  height: 20%;
  vertical-align: center;
  text-align: center;
}

#board td.hover-effect:hover {
/*background-color: lime!important;*/
cursor: pointer;
border-width:2px;
border-style:dashed;
}

.in-game{
  display: none;
}

.mycolor
{
  background-color: lime!important;
}
