#board {
  width:300px;
  height:300px;
  margin: 0 auto;
}

#board td {
  border: 1px solid;
  width: 20%;
  height: 20%;
  vertical-align: center;
  text-align: center;
}

.in-game{
  display: none;
}
